USE [master]
GO
/****** Object:  Database [MyStock]    Script Date: 20-May-25 12:18:43 PM ******/
CREATE DATABASE [MyStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyStock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MyStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStock]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 20-May-25 12:18:43 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SQLArcExtensionUserRole]    Script Date: 20-May-25 12:18:43 PM ******/
CREATE ROLE [SQLArcExtensionUserRole]
GO
ALTER ROLE [SQLArcExtensionUserRole] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 20-May-25 12:18:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] NOT NULL,
	[CarName] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[ReleasedYear] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (1, N'Civic', N'Honda', CAST(22000.00 AS Decimal(18, 2)), 2020)
INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (2, N'Corolla', N'Toyota', CAST(21000.00 AS Decimal(18, 2)), 2019)
INSERT [dbo].[Cars] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (3, N'Model 3', N'Tesla', CAST(35000.00 AS Decimal(18, 2)), 2021)
GO
USE [master]
GO
